#container {
    width: 75%;
    margin: 0 auto;
    transform: translateY(-1.2em);
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* Dos columnas en pantallas más grandes */
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header header"
        "nav nav"
        "aside main"
        "footer footer";
    min-height: 100vh;

}

/*Header*/
#container header {
    background-color: dimgray;
    grid-area: header;
    padding: 20px;
    text-align: center;
}

#container nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container .logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

#container .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#container .menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;

}

#container a {
    color: inherit;
    /* Hereda el color del elemento padre (en este caso, el color del menú) */
    text-decoration: none;
    /* Quita la decoración de subrayado de los enlaces */
}

#container .cta {
    margin-left: auto;
}

.contact-button {
    background-color: #e74c3c;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

#container .contact-button:hover {
    background-color: #c0392b;
}

/*Main*/


#container main {
    background-color: cadetblue;
    grid-area: main;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

#container section {
    margin-bottom: 30px;
}

#container section .about-me h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

#container section .about-me p {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.5;
}

#container section .highlight {
    background-color: #50585c7c;
    padding: 1px;
    border-radius: 5px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .about-me {
        padding: 15px;
    }

    .about-me h1 {
        font-size: 24px;
    }

    .about-me p {
        font-size: 14px;
    }
}


/*aside*/

#container aside {
    background-color: darkslategray;
    grid-area: aside;
}

/* Estilos para la tarjeta de presentación */
#container aside .card {
    padding: 20px;

}

#container aside .card h2 {
    margin-top: 0;
}

/* Estilos para los iconos de redes sociales */
#container aside .social-icons {
    margin-top: 10px;

}

#container aside .social-icons a {
    text-decoration: none;
    margin-right: 10px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }

    .social-icons {
        text-align: center;
    }
}

footer {
    grid-area: footer;
    background-color: #333;
    padding: 20px;
    text-align: center;
}

/* Cambiar a una sola columna en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-bottom: 20px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 10px 0;
    }
}


/* Estilos para la <div class="container"> dentro de la sección de inicio */
#inicio .container {
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 500px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
  }
  
  #inicio .container h6 {
    font-size: 18px;
    font-weight: bold;
    color: #fff; /* Color del texto */
    margin: 0;
  }
  
  #inicio .container h1 {
    font-size: 28px;
    font-weight: bold;
    color: #fff; /* Color del texto */
    margin: 20px 0;
  }
  
 

  /* Estilos para la etiqueta <code> con fondo gris más oscuro */
/* Estilos para la etiqueta <code> con fondo gris más oscuro */
#inicio .container code {
    font-size: 14px;
    background-color: #333; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco para mayor visibilidad */    
    border-radius: 5px;   
    text-align: left; 
    flex: content;
   
  }

  
  /* Estilo adicional para las clases de Highlight.js */
  .hljs {
    display: inline; /* Evita los bordes alrededor del bloque <pre> */
  }
  
  .hljs-comment,
  .hljs-keyword,
  .hljs-function {
    color: #0074e8; /* Color para comentarios, palabras clave y funciones */
  }
  
  /* Estilo para .hljs-string y .hljs-number sin bordes */
  .hljs-string,
  .hljs-number {
    color: #00f821; /* Color para cadenas y números */
    border: none; /* Elimina cualquier borde */
  }
  
  
  
  #inicio .container a {
    display: inline-block;
    background-color: #ff5733; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px; /* Espaciado interior del botón */
    text-decoration: none;
    border-radius: 5px; /* Borde redondeado */
    margin: 10px 5px; /* Espaciado entre botones */
    transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
  }
  
  #inicio .container a:hover {
    background-color: #ff4400; /* Cambia el color de fondo al pasar el mouse */
  }
  