@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: #5161ce;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

/*APP CONTAINER*/
#app{
    position: absolute;
    background-color: transparent;
    width: 100%;
    cursor: pointer;  
}


/*CONTAINER APP*/
#container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* Dos columnas en pantallas más grandes */
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header header"
        "nav nav"
        "aside main"
        "footer footer";
    min-height: 100vh;
    
    
    

}

/*Header*/

/*
#container header {
    grid-area: header;
    padding: 20px;
    text-align: center;
}
*/

#container nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#container main {
    background-image: var(--gradinete-segundario); 
    border-radius: 5px 150px 0px 5px;        
   margin: 10px;
   padding: 45px;

}

#container section {
    width: 100%;
    border-radius: 5px 25px 0px 5px;
      height: 100%;
    background-color: beige;
    color: #130606;
    padding: 0;
    border: 1px solid #1b1f3a;
    padding: 10px;

}
#container section:hover{   
    border: 1px solid #5161CE;
    
}


#container .logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

#container .menu {    
    margin: 0;
    padding: 5px;
    width: 100%;
    background-color: rgb(91, 91, 91);
    color: #fff;
    
    
    
}

#container .menu #editor {
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Consolas, monospace;
    font-size: 14px;
    height: 300px;
    overflow: auto;
}

#container .menu h3{
padding: 10px;
}

#container .menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;

}

#container a {
    color: inherit;
    /* Hereda el color del elemento padre (en este caso, el color del menú) */
    text-decoration: none;
    /* Quita la decoración de subrayado de los enlaces */
}

#container .cta {
    margin-left: auto;
}

.contact-button {
    background-color: #e74c3c;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

#container .contact-button:hover {
    background-color: #c0392b;
}

/*Main*/


#container main {
    grid-area: main;
    padding: 15px;
    display: flex;
    flex-direction: column;
    

}

#container section {
    margin-bottom: 30px;
}

#container section .about-me h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

#container section .about-me p {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.5;
}

#container section .highlight {
    background-color: #50585c7c;
    padding: 1px;
    border-radius: 5px;
}




/*aside*/

#container aside {
    width: 100%;
    padding: 0px;
    grid-area: aside;
    margin: 5px;
    display: flex;
    flex-direction: column; /* Cambiamos a dirección de columna */
}

.tarjeta {
    background: var(--gradinete-primero);
    color: #ffffff;
    /* Blanco */
    width: 100%; /* Ocupa el 100% del ancho del aside */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 10px;
    margin: 15px 0; /* Añadimos espacio entre las tarjetas */
    transition: background 0.3s;
}


#container aside .tarjeta:hover {
    background: linear-gradient(to right, #3498db, #663399);
    /* Gradiente de Azul a Morado */
}

#container aside .imagen img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    /* Blanco */
}

#container aside h1 {
    font-size: 24px;
    margin: 0;
}

#container aside p {
    margin: 5px 0;
}

#container aside a {
    color: #3498db;
    /* Azul */
    text-decoration: none;
    transition: color 0.3s;
}

#container aside a:hover {
    color: #663399;
    /* Morado */
}

#container aside .profile-link {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#container aside .profile-link:hover {
    background-color: #252424;
}




footer {
    grid-area: footer;
    padding: 20px;
    text-align: center;
    background-color: #5161CE;
    color: #fff;
}

@media (max-width: 768px) {
    #container {
        grid-template-columns: 1fr;
        /* Cambiar a una sola columna para pantallas pequeñas */
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";





    }



    #container nav {
        flex-direction: column;
        /* Cambiar la dirección de los elementos del menú a vertical */
    }

    #container .menu li {
        margin-right: 0;
        /* Eliminar el margen derecho entre elementos del menú */
        margin-bottom: 10px;
        /* Agregar un margen inferior entre elementos del menú */
    }    
}

@media (max-width: 768px) {
    #container header {
        padding: 10px;
        /* Reducir el espacio en el encabezado */
    }

    #container .logo a {
        font-size: 20px;
        /* Reducir el tamaño de la fuente del logo */
    }
}



@media (max-width: 768px) {
    
    #container main{
        padding: 10px;
    }
    #container section {
        border-radius: 5px 5px 5px 5px;
        padding: 5px;
        width: 97%;
        

    }
    #container aside{
        padding: 5px;
        width: 98%;
    }
    

    .tarjeta {
        padding: 10px;
        width: 40%;
        
        /* Reducir el espacio en la tarjeta de presentación */
    }
    .control-tarjeta-hv{
       left: 50%;
       top: 25%;
       position: absolute;
       padding: auto;
       transform: translate(-10%, -50%);
    }
    .control-tarjeta-dw{
        left: 50%;
        top: 30%;
        position: absolute;
        padding: auto;
        transform: translate(-10%, -50%);
     }

    #container .cta {
        margin-left: 0;
        /* Eliminar el margen izquierdo automático en la llamada a la acción */
        margin-top: 10px;
        /* Agregar margen superior para separar la llamada a la acción del menú */
    }

    .contact-button {
        font-size: 16px;
        /* Reducir el tamaño de fuente del botón */
        padding: 8px 16px;
        /* Reducir el espacio del botón */
    }
}

@media (max-width: 560px) {
    #container aside {
        margin: 5px 0; /* Reducimos el margen lateral */
        padding-left: 5%;
    }

    .tarjeta {
        margin: 10px 0; /* Reducimos el espacio entre las tarjetas */
        width: 95%;
    }
    .control-tarjeta-hv {       
        position: relative;
        transform: none; /* Eliminar la transformación para centrar */
        left: auto;
        top: auto;
        margin-top: 10px; /* Agregar un margen superior si es necesario */
        margin-bottom: 10px; 
       
       
     }
     .control-tarjeta-dw {
        position: relative;
        transform: none; /* Eliminar la transformación para centrar */
        left: auto;
        top: auto;
        margin-top: 10px; /* Agregar un margen superior si es necesario */
        margin-bottom: 10px; 
     } 
     
    
    
   

}
@media (max-width: 450px) {    
    #container {
        grid-template-columns: 1fr;
        /* Cambiar a una sola columna para pantallas pequeñas */
        grid-template-areas:
            "header"
            "nav"
            "aside"
            "main"
            "footer";
            margin: 3px;

    }
    #container section {
        
        width: 99%;
        
        

    }
    
    
    #container aside {
        grid-area: aside;
        margin: 5px;
    }

   
    

}




/* Estilos para la <div class="container"> dentro de la sección de inicio */
#inicio .container {
    background-color: rgba(0, 0, 0, 0.5);
    /* Color de fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    /* Ancho máximo del contenedor */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* Sombra suave */
}

#inicio .container h6 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    /* Color del texto */
    margin: 0;
}

#inicio .container h1 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    /* Color del texto */
    margin: 20px 0;
}



/* Estilos para la etiqueta <code> con fondo gris más oscuro */
/* Estilos para la etiqueta <code> con fondo gris más oscuro */
#inicio .container code {
    font-size: 14px;
    background-color: #333;
    /* Fondo gris oscuro */
    color: #fff;
    /* Texto blanco para mayor visibilidad */
    border-radius: 5px;
    text-align: left;
    flex: content;

}


/* Estilo adicional para las clases de Highlight.js */
.hljs {
    display: inline;
    /* Evita los bordes alrededor del bloque <pre> */
}

.hljs-comment,
.hljs-keyword,
.hljs-function {
    color: #0074e8;
    /* Color para comentarios, palabras clave y funciones */
}

/* Estilo para .hljs-string y .hljs-number sin bordes */
.hljs-string,
.hljs-number {
    color: #00f821;
    /* Color para cadenas y números */
    border: none;
    /* Elimina cualquier borde */
}



#inicio .container a {
    display: inline-block;
    background-color: #ff5733;
    /* Color de fondo del botón */
    color: #fff;
    /* Color del texto del botón */
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    /* Espaciado interior del botón */
    text-decoration: none;
    border-radius: 5px;
    /* Borde redondeado */
    margin: 10px 5px;
    /* Espaciado entre botones */
    transition: background-color 0.3s ease;
    /* Transición suave al pasar el mouse */
}

#inicio .container a:hover {
    background-color: #ff4400;
    /* Cambia el color de fondo al pasar el mouse */
}