@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}

/*----------bootstrap-navbar-css------------*/
.navbar-logo {
    padding: 15px;
    color: #ffffff;
}
.navbar-logo:hover {
    color: #0e2917;
}

.navbar-mainbg {
    background-color: #5161ce;
    padding: 0px;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0;
    transition-timing-function: cubic-bezier(0, -0.3, 0.265, 1);
    position: relative;
}

#navbarSupportedContent > ul > li.active > a {
    color: #5161ce;
    background-color: transparent;
    transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
    content: '\f105';
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active > a:not(:only-child):after {
    transform: rotate(10deg);
}

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: var(--bs-body-bg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--bs-body-bg);
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}

@media (min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }

    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }

    .hori-selector .left {
        top: -25px;
        left: auto;
    }

    .hori-selector .right {
        bottom: -25px;
    }

    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }

    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
}

/*APP CONTAINER*/
#app {
    position: relative;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
}

/*CONTAINER APP*/
.container-fluid {
    --bs-gutter-x: 0;
}

.mt-5 {
    margin-top: 3.8rem !important;
}

#container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* Dos columnas en pantallas más grandes */
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        'header header'
        'nav nav'
        'aside main'
        'footer footer';
    min-height: 100%;
}

/*Header*/

/*
#container header {
    grid-area: header;
    padding: 20px;
    text-align: center;
}
*/

/*Main*/

#container main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#container section {
    width: 100%;
    height: 100%;
    background-color: rgb(199, 199, 195);
    color: #130606;
    padding: 0;
    border: 1px solid #5161ce;
    border-radius: 10px;
    padding: 10px;
}

/*=======================Latest Works=======================*/
.work__center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem 3rem;
}

.work__box {
    border-radius: 1rem;
    width: 100%;
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.work__box:hover {
    box-shadow: 0 1.5rem 3rem rgba(60, 72, 88, 0.2);
}

.image__cover {
    position: relative;
    height: 15rem;
    cursor: pointer;
    overflow: hidden;
}

.image__cover::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.image__cover:hover::after {
    opacity: 1;
    visibility: visible;
}

.image__cover img {
    object-fit: cover;
    height: 15rem;
    transition: all 0.5s ease-in-out;
}

.image__cover:hover img {
    transform: scale(1.3);
}

.image__cover svg {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.3s ease-in-out;
}

.image__cover span {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 2rem;
    background-color: var(--black1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.image__cover:hover span {
    opacity: 1;
    visibility: visible;
}

.image__cover span:hover {
    background-color: var(--backgroundColor);
}

.image__cover span:hover svg {
    fill: var(--default);
}

.image__cover:hover span {
    top: 50%;
}

.work__box .content {
    text-align: center;
    padding: 3rem 1rem;
}

.work__box .content a:link,
.work__box .content a:visited {
    color: var(--black2);
    font-size: 1.5rem;
}

.work__box .content span {
    color: var(--black2);
}

/*=======================Latest Works Media=======================*/
@media only screen and (max-width: 768px) {
    .work__center {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 567px) {
    .work__center {
        grid-template-columns: 1fr;
        gap: 2rem 0;
    }

    .image__cover {
        height: 25rem;
    }

    .image__cover img {
        height: 25rem;
    }
}

#container section:hover {
    border: 1px solid #5161ce;
}

#container .logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

#container .menu {
    margin: 0;
    padding: 5px;
    width: 100%;
    background-color: rgb(91, 91, 91);
    color: #fff;
}

#container .menu #editor {
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Consolas, monospace;
    font-size: 14px;
    height: 300px;
    overflow: auto;
}

#container a {
    text-decoration: none;
}

/*aside*/

#container aside {
    width: 100%;
    padding: 0px;
    grid-area: aside;
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* Cambiamos a dirección de columna */
    padding-left: 5%;
}

.tarjeta {
    background: var(--gradinete-primero);
    color: #ffffff;
    /* Blanco */
    width: 100%;
    /* Ocupa el 100% del ancho del aside */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 10px;
    margin: 15px 0;
    /* Añadimos espacio entre las tarjetas */
    transition: background 0.3s;
}

#container aside .tarjeta:hover {
    background: linear-gradient(to right, #3498db, #663399);
    /* Gradiente de Azul a Morado */
}

#container aside .imagen img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    /* Blanco */
}

#container aside h1 {
    font-size: 24px;
    margin: 0;
}

#container aside p {
    margin: 5px 0;
}

#container aside a {
    color: #ffffff;
    /* Azul */
    text-decoration: none;
    transition: color 0.3s;
}

#container aside a:hover {
    color: #1ad03f;
    /* Morado */
}

#container aside .profile-link {
    text-decoration: none;
    background-color: #333;
    color: #fff;

    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#container aside .profile-link:hover {
    background-color: #252424;
}

footer {
    grid-area: footer;
    padding: 20px;
    text-align: center;
    background-color: #5161ce;
    color: #fff;
}

@media (max-width: 768px) {
    #container {
        grid-template-columns: 1fr;
        /* Cambiar a una sola columna para pantallas pequeñas */
        grid-template-areas:
            'header'
            'aside'
            'nav'
            'main'
            'footer';
    }
    #container {
        padding: 0;
        margin: 0;
    }
    #container main {
        margin: 0px;
    }

    #container section {
        width: 100%;
        border-radius: 0 0 0 0;
    }
    #container aside {
        padding: 0px;
    }
    .angry-grid {
        display: grid;

        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        gap: 0px;
        height: 100%;
    }

    #item-0 {
        grid-row-start: 1;
        grid-column-start: 1;

        grid-row-end: 3;
        grid-column-end: 2;
    }

    #item-1 {
        margin: 20px;

        grid-row-start: 1;
        grid-column-start: 2;

        grid-row-end: 2;
        grid-column-end: 3;
    }

    #item-2 {
        margin: 20px;

        grid-row-start: 2;
        grid-column-start: 2;

        grid-row-end: 3;
        grid-column-end: 3;
    }

    .tarjeta {
        padding: 10px;
        width: 100%;
        height: auto;
        transform: translateX(5px);

        /* Reducir el espacio en la tarjeta de presentación */
    }
}

@media (max-width: 560px) {
    #container {
        grid-template-columns: 1fr;
        /* Cambiar a una sola columna para pantallas pequeñas */
        grid-template-areas:
            'header'
            'nav'
            'main'
            'aside'
            'footer';
    }
    #container {
        padding: 0;
        margin: 0;
    }

    #container section {
        padding: 0px;
        width: 100%;
    }
    #container aside {
        margin: 5px 0;
        /* Reducimos el margen lateral */
        padding-left: 5%;
    }

    .angry-grid {
        display: grid;
        grid-template-rows: auto; /* Cambiamos a altura automática */
        grid-template-columns: 1fr;
        gap: 0px;
    }

    #item-0 {
        grid-row-start: 1;
        grid-column-start: 1;

        grid-row-end: 2;
        grid-column-end: 2;
    }
    #item-1 {
        margin: 0;

        grid-row-start: 2;
        grid-column-start: 1;

        grid-row-end: 3;
        grid-column-end: 2;
    }
    #item-2 {
        margin: 0;
        position: relative;

        grid-row-start: 3;
        grid-column-start: 1;

        grid-row-end: 3;
        grid-column-end: 2;
    }

    .tarjeta {
        margin: 10px 0;
        /* Reducimos el espacio entre las tarjetas */
        width: 100%;
        transform: translateX(-15px);
    }
}

@media (max-width: 450px) {
    #container aside {
        grid-area: aside;
        margin: 5px;
    }
}
